body {
	transition: var(--long-transition-YhN6XrSx);
	}

.default-anime-keeper-attached-da5aKFrB:is(body) {
	padding: 0 var(--body-attach-margin-2HhrRRgq) 0 0;
	}

.default-anime-keeper-attached-da5aKFrB:is(body)::-webkit-scrollbar {
	height: var(--default-margin-xqv9MGJg);
	width: var(--default-margin-xqv9MGJg);
	}

.default-anime-keeper-attached-da5aKFrB:is(body)::-webkit-scrollbar-track,
.default-anime-keeper-attached-da5aKFrB:is(body)::-webkit-scrollbar-corner {
	background-color: var(--neutral-color-TmH5QR3n);
	}

.default-anime-keeper-attached-da5aKFrB:is(body)::-webkit-scrollbar-thumb {
	background: var(--main-color-rVwK3Nh4);
	border-radius: var(--short-margin-xqv9MGJg);
	}